@font-face {
    font-family: 'Microsoft Jhenghei';
    font-display: swap;
    src: url('/fonts/Microsoft-JhengHei.ttf') format("truetype");
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

body {
    font-size: 11pt;
    font-weight: normal;
    line-height: 2em;
}

